
@font-face {
    font-family: MyFont;
    src: url(./font/orbitron-black.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/index/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: MyFont, sans-serif;
}

button:hover {
    background-color: #218838;
}
.videocontent {
    margin-top: 100px;
    background: #007bff;
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    margin-bottom: 100px;
}
#video-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;


}
@media screen and (min-width: 992px) {
    
    .videocontent {
        margin-top: 100px;
        background: #007bff;
        padding: 1px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        
    }
    #video-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }
}
@media screen and (min-width: 412px) and (max-width: 991px){
    .videocontent {
        margin-top: 30px;
        width: 100%; /* Full width on very small screens */
    }
    #video-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }
    
}
@media screen and (min-width: 384px) and (max-width: 412px) {
    .videocontent {
        margin-top: 20px;
        width: 70%; /* Ajuste la largeur pour les écrans dans cette plage */
    }
    #video-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
    
